body {
  padding: 20px;
  background-image: url(https://images2.alphacoders.com/941/thumb-1920-941898.jpg);
  font-family: sans-serif;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: small;
  font-style: normal;
}

h1, h2 {
  /* you can add a fallback font after the main one if the main one doesnt exist */
  font-family: "Space Mono";
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px black;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
      }

hr {margin-right: 10px;
    margin-top: -10px  
  }

.nav-link {text-align: center;
          display: block;
          padding-bottom: -50px;
        }

.img {position: absolute;
      right: 200px;}

.navtext {text-decoration: none;
        font-family:Arial;
        color: rgb(255, 255, 255);
        -webkit-text-stroke: 1px black;
        text-align: center;
        font-size: 30px;
        position: relative;
        display: grid;
        right: 5px;
        margin-top: 5px;
}


.menu {background-color: white;
      stroke: 2px black;
      display: inline-block;
      padding-left: 20px;
      position: relative;
      left: 100px;
      width: auto;
      max-width: 850px;
      max-height: 900px;
      border-style: solid;
      border-color: black;
      padding-bottom: 20px;
    }

.navjstext {text-decoration: none;
        font-family:Arial;
        color: rgb(255, 255, 255);
        -webkit-text-stroke: 1px black;
        text-align: center;
        font-size: 30px;
        position: relative;
        display: inline-block;
        right: 5px;
        margin-top: 10px;}


.navjavascript {background-color: white;
      stroke: 2px black;
      display: inline-block;
      padding-left: 20px;
      position: relative;
      left: 540px;
      width: 760px;
      max-width: 850px;
      max-height: 900px;
      border-style: solid;
      border-color: black;
      padding-bottom: 20px;
    }

.menu2 {max-width: 300px;
      top: 150px;
      height: 600px;
      background-color: white;
      stroke: 2px black;
      display: inline-block;
      padding-left: 20px;
      position: absolute;
      left: 1550px;
      width: 300px;
      border-style: solid;
      border-color: black;
      padding-bottom: 20px;
    }

.menu3 {max-width: 300px;
      top: 400px;
      height: 400px;
      background-color: white;
      stroke: 2px black;
      display: inline-block;
      padding-left: 20px;
      position: relative;
      left: 500px;
      width: 400px;
      border-style: solid;
      border-color: black;
      padding-bottom: 20px;
      }


/* display: table acts as an inline-block element by being as wide as the content it contains, but also acts as a block element by adding a line break before AND after the element.
 Floats do not add a line break after the element. */
p {display: inline-block;
  letter-spacing: 1px;
  margin-top: -10px;
}

.headcomment {
        margin-left: 2px;
        text-align: left;
        color: rgb(0, 255, 0);
        text-shadow: 1px 1px 1px black;
        padding-bottom: 20px;
        font-size: 19px;
        font-family: 'Gill Sans', sans-serif;
        margin-top: 0px;
        width: 700px;
      }

.comment {
        margin-left: 10px;
        text-align: right;
        font-size: 18px;
        color: rgb(0, 255, 0);
        font-family: 'Arial', sans-serif;
        display:inline-block;
        padding-right: 20px;
      }